{% load static %}
{% block headerinclude %}
    <title>Melody</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'melody/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'melody/css/table.css' %}">

    <!-- css for datatable -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">

    <style>
        .navbar-brand{ text-transform: uppercase; color: white; letter-spacing: 2.5px; font-size: 1.5rem; font-weight: bold; }
    </style>
{% endblock headerinclude %}

        <!-- start of navbar -->
        <nav class="navbar fixed-top navbar-expand-lg shadow">
            <div class="container">
                <a class="navbar-brand" href="#">Melody</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav margin">
                        <li class="nav-item active"><a class="nav-link" href="#">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Username
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Account</a>
                                <hr>
                                <a class="dropdown-item" href="#">Log Out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>     
        </nav>
        <!-- end of navbar -->

        <!-- start of page content -->
        <div class="container container-space">
            <form id="form1" action="" method="POST" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %} <p align="right"><button type="submit" class="buttonAdd">Add Song</button></p>
            </form>
            <!-- <p><button type="button" class=""></button></p> -->
            <table class="table table-hover" id="data-table" style="width:100%">
                <thead>
                    <tr>
                        <th scope="col">Song Title</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Artist(s)</th>
                        <th scope="col">Date Registered</th> 
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Honey</th>
                        <td>R & B</td>
                        <td>Kehlani</td>
                        <td>Oct 6, 2017</td>
                        <td><a data-toggle="modal" href="#modalView" class="button">View</a>|<a data-toggle="modal" href="#modalDelete" class="button">Delete</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Stuck with U</th>
                        <td>Hip Hop, Pop</td>
                        <td>Ariana Grande & Justin Bieber</td>
                        <td>May 8, 2020</td>
                        <td><a data-toggle="modal" href="#modalView" class="button">View</a>|<a data-toggle="modal" href="#modalDelete" class="button">Delete</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Good Girls</th>
                        <td>Electropop</td>
                        <td>Lany</td>
                        <td>Mar 3, 2017</td>
                        <td><a data-toggle="modal" href="#modalView" class="button">View</a>|<a data-toggle="modal" href="#modalDelete" class="button">Delete</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Super Far</th>
                        <td>Electropop</td>
                        <td>Lany</td>
                        <td>Jun 28, 2017</td>
                        <td><a data-toggle="modal" href="#modalView" class="button">View</a>|<a data-toggle="modal" href="#modalDelete" class="button">Delete</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Title</th>
                        <td>R & B</td>
                        <td>Kiana Lede</td>
                        <td>Sep 1, 2019</td>
                        <td><a data-toggle="modal" href="#modalView" class="button">View</a>|<a data-toggle="modal" href="#modalDelete" class="button">Delete</a></td>
                    </tr>
                    <tr>
                        <th scope="row">EDM</th>
                        <td>EDM</td>
                        <td>Kehlani</td>
                        <td>Sep 2, 2020</td>
                        <td><a data-toggle="modal" href="#modalView" class="button">View</a>|<a data-toggle="modal" href="#modalDelete" class="button">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>   
        <!--end of page content -->

        <!-- modal for View -->
        <div class="modal fade" id="modalView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header modal-view">
                  <h5 class="modal-title w-100 text-center" id="exampleModalLabel">Product Information</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col">
                                <!-- <label for="exampleInputEmail1">Product Name</label> -->
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Song Title">
                            </div>
                            <div class="form-group col">
                                <!-- <label for="exampleInputEmail1">Date Registered</label> -->
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Date Registered">
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- <label for="exampleInputEmail1">Product Name</label> -->
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Artist(s)">
                        </div>
                        <div class="form-group">
                            <!-- <label for="exampleInputEmail1">Genre</label> -->
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Genre">
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">
                  <button type="button" class="btn btn-outline-primary shadow">Update</button>
                  <button type="button" class="btn btn-outline-secondary shadow" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>
        <!-- end of modal for View -->

        <!-- modal for Delete -->
        <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header modal-delete">
                  <h5 class="modal-title w-100 text-center" id="exampleModalLabel">Are you sure you want to delete this?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col">
                                <!-- <label for="exampleInputEmail1">Product Name</label> -->
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Song Title">
                            </div>
                            <div class="form-group col">
                                <!-- <label for="exampleInputEmail1">Date Registered</label> -->
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Date Registered">
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- <label for="exampleInputEmail1">Product Name</label> -->
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Artist(s)">
                        </div>
                        <div class="form-group">
                            <!-- <label for="exampleInputEmail1">Genre</label> -->
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Genre">
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">
                  <button type="button" class="btn btn-outline-danger shadow">Delete</button>
                  <button type="button" class="btn btn-outline-secondary shadow" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
        </div>
        <!-- end of modal for Delete -->
        
{% block footerinclude %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="{% static 'melody/js/datatable.js' %}"></script>
{% endblock footerinclude %}